@import "tailwindcss";


Link {
  font-size: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

.content {
  @apply max-w-[1200px] mt-4 mx-auto;
}
/* seach bar in header */
.search {
    @apply border-2 border-gray-400 p-2 rounded w-[300px] bg-white text-black;
}

.search:focus{
    @apply outline-none border-blue-400;
}

.search::placeholder{
    @apply text-gray-400;
}

.btn-search{
    @apply bg-green-300 text-white p-2 rounded ml-2 hover:bg-green-400;
}

.image{
  @apply flex justify-center mb-2;
}

.text{
  @apply relative right-0 w-[100px] text-3xl mb-4;
}

.list{
  @apply grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 gap-8 w-full mx-auto;
}


.title {
  @apply h-[2rem] overflow-hidden text-ellipsis text-nowrap px-2;
}

.rating {
  @apply flex flex-row px-2;
}

.rating span{
  @apply m-[0.1rem] text-[#f1df0f];
}

#rating-text {
  @apply text-[0.8rem] font-normal pl-2 text-black;
}

.btn {
  @apply bg-blue-500 text-white text-xl p-2 rounded mt-4;
}

.content2{
  @apply w-full mx-auto flex justify-center mt-4 px-4;
}

.product-card{
  @apply flex justify-evenly w-full;
}

.product-img{
  @apply w-[40%] bg-white border-r-2 border-r-white;
}

.details{
  @apply flex flex-col justify-start gap-4 p-4 w-[30%] bg-gray-50;
}

.price-info{
  @apply flex flex-col border-1 p-4 border-gray-50 w-[30%] gap-4 bg-gray-50;
}

price-info > p{
  @apply text-lg font-bold;
}

.item{
  @apply flex justify-between w-[80%] mx-auto;
}


/* profile */

.form-container {
  @apply p-4 flex flex-col gap-4;
}

.form-control {
  @apply w-full flex justify-between items-center gap-2;
}

.form-input{
  @apply border-1 border-gray-400 p-2 w-[65%] rounded;
}

.dropdown-link{
    @apply cursor-pointer whitespace-nowrap block px-2 py-1 hover:bg-gray-200 rounded;
}

.profile-btn{
    @apply w-[20%]
}

/* cart page */
.checkout-btn {
    @apply bg-blue-600 hover:bg-blue-700 text-white p-3 rounded disabled:opacity-50;
}
